main {
    display: flex;
    flex-direction: column;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
}

.search-form > input {
    margin-left: 1vw;
}

.search-buttons {
    display: flex;
    flex-direction: column;
}

.search-radio {
    margin-right: 1rem;
}

/* SEARCH RESULTS */
fieldset {
    margin-top: 5vh;
    padding: 10px;
}

.book-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.result-book {
    display: flex;
    flex-direction: row;
}

fieldset img {
    width: 8vw;
}

.result-book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2vw;
}

.result-book-info > h1 {
    font-size: 24pt;
}

.result-book-info > h2 {
    font-size: 16pt;
    font-weight: normal;
}

.result-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

