* {
    font-size: 12pt;
}

main {
    display: flex;
    flex-direction: column;
}

.main-div {
    align-items: center;
    padding: 10px;
}

.head-login-registration {
    margin-top: 50px;
    margin-bottom: 20px;
}

.head-login-registration > * {
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.head-login-registration > *[state="selected"] {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 20px;
    background-color: rgba(200, 200, 200, 0.95);
}

.head-login-registration > *[state="unselected"] {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 20px;
    background-color: rgba(225, 225, 225, 0.75);
}

.main-div > form > label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div > form > label > p {
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.div-button {
    margin-top: 20px;
    position: relative;
    left: 50%;
}
