* {
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

.field{
    position: absolute;
    background: white;
    height: 330px;
    width: 500px;
    left: 30%

}

.submit{
    position: absolute;
    height: 30px;
    width: 70px;
    top: 78%;
    left: 64%;
}


